* {
    margin: 0;
    padding: 0;
}
body
{
    overflow: hidden;
}
.mainFrame
{
    width: 100%;
    height: 100%;
    border: none;
}
.container
{
    width: 100%;
    height: 100vh;
}